body{
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #D5D4D8;

}


.App {
  text-align: center;
  background-color: #fff;
  align-items: center;
  width: 120%;

}

header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
header.dark{
  background-color: #000;
}
.nav-title{
  display: flex;
  align-items: center;
}


.list{
  list-style: circle;
  /* color: #000; */
  text-align: justify;
  margin-left: 50px;
  line-height: 1.9;
}

.list > li::marker{
  color: #61DAFB;
  font-size: 1.4rem;
}
.nav-logo{
  width: 70px;
}
.toggle{
  display: flex;
  justify-content: space-between;
}
.logo-title{
  color: #61DAFB;
}
.toggle-slider{
  width: 30px;
  height: 15px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
  margin-top: 1.3em;
}
.toggle-circle{
  height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}
header.dark.toggle-slider{
  border-color: white;
    background-color: #F5F5F5;
}
header.dark.toggle-circle{
  background-color: black;
}
.h3{
  color: #000;
  padding-right: 20px;
}
header.dark .h3 {
  color: #918E9B; 
}

.h3.dark {
  color: #D5D4D8;
}

/* header.dark .h3-dark {
  color: #FFFFFF;
} */

header.dark .toggle-slider {
  justify-content: flex-end;
}

 main.dark{
  background-image: url(../src/image/reactjs-icon.png);
  background-repeat: no-repeat;
  color: #fff;
  background-color: #282D35;
  padding-top: 50px;


 } 
 main{
  background-image: url(../src/image/small-logo.png);
  background-repeat: no-repeat;
  background-position: right; 
  padding:3em 0;

 } 

.maincontent{
  text-align: justify;
  padding-left: 50px;
  font-weight: 700;
}
.footer{
  color: #fff;
  padding-bottom: 10px;
}




