body{
  align-items: center;
  justify-content: center;
  display: flex;

}


.App {
  text-align: center;
  background-color: #272D34;
  align-items: center;
  width: 110%;

}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #000;
}
.nav-title{
  display: flex;
  align-items: center;
}
.list{
  list-style: circle;
  color: #fff;
  text-align: justify;
  margin-left: 50px;
}
.logo-title{
  color: darkcyan;
}
.h3{
  color: #fff;
}
.maincontent{
  margin: 40px 0;
}
.maincontent>h1{
  color: #fff;
  text-align: justify;
  padding-left: 50px;
}
.footer{
  color: #fff;
  padding-bottom: 10px;
}




