body{
  align-items: center;
  justify-content: center;
  display: flex;

}


.App {
  text-align: center;
  background-color: #272D34;
  align-items: center;
  width: 110%;

}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #000;
}
.nav-title{
  display: flex;
  align-items: center;
}
.list{
  list-style: circle;
  color: #fff;
  text-align: justify;
  margin-left: 50px;
  line-height: 1.9;
}
.list > li::marker{
  color: #61DAFB;
  font-size: 1.4rem;
}
.nav-logo{
  width: 70px;
}
.logo-title{
  color: #61DAFB;
}
.h3{
  color: #fff;
  padding-right: 20px;
}
.maincontent{
  margin: 40px 0;
  background-image: url(../src/image/small-logo.png);
  background-repeat: no-repeat;
  background-position-x:100% ; 
}
.maincontent>h1{
  color: #fff;
  text-align: justify;
  padding-left: 50px;
  font-weight: 700;
}
.footer{
  color: #fff;
  padding-bottom: 10px;
}




